<form class = "auth-component" [formGroup] = "signForm" (ngSubmit) = "onSubmit()">
  <mat-input-container class="description">
    <input matInput placeholder="Nombre" formControlName="name" id = "name">
  </mat-input-container>
  <mat-input-container class="description">
    <input matInput placeholder="Apellido" formControlName="fullname" id = "fullname">
  </mat-input-container>
  <mat-input-container class="description">
    <input matInput placeholder="Correo Electronico" formControlName="email" id = "email">
  </mat-input-container>
  <mat-input-container class="description">
    <input matInput placeholder="Contraseña" formControlName="password" id = "password" type="password">
  </mat-input-container>
  <button type="submit" mat-raised-button color="accent" >Registrarse</button>
  <p style="text-align: center">
    ¿Tienes Cuenta?  <a mat-button color="primary" [routerLink] = "['/signin']" >Iniciar Sesión</a>
  </p>
</form>
